{% extends 'default.html' %}
{% load pro_filters %}
{% load pro_tags %}
{% block title %}Фильтр новостей{% endblock %}
{% block content %}
    {% autoescape off %}{% header "Фильтрация" %}{% endautoescape  %}

    <section id="filter" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <!-- Search Posts -->
                <div class="col-md-9">
                    <h3 class="category-title">Результаты фильтрации</h3>
                    {% for post in post_list %}
                        {% include "news/post_item.html" with post=post %}
                    {% empty %}
                        <div class="d-md-flex post-entry-2 small-img">
                            <div class="post-meta"><span>Ничего нет</span></div>
                            </div>
                    {% endfor %}
                    </div><!-- End Search Posts -->
                
                <!-- Sidebar -->
                <div class="col-md-3">
                    <div class="aside-block">
                        <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-actions-tab" data-bs-toggle="pill" data-bs-target="#pills-actions" type="button" role="tab" aria-controls="pills-actions" aria-selected="true">
                                    Параметры
                                    </button>
                                </li>
                            </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-actions" role="tabpanel" aria-labelledby="pills-actions-tab">
                                
                                <!-- Form -->
                                <div class="form mt-5">
                                    <form action="" method="get">
                                        {{ filter.form.as_p }}
                                        <div class="text-center">
                                            <div class="col-12">
                                                <input type="submit" class="btn btn-primary" value="Найти">
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- End Form -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Paging -->
            {% if is_paginated %}
                {% include "paginator.html" with page_obj=page_obj paginator=paginator%}
            {% endif %}<!-- End Paging -->

            </div>
        </section>

{% endblock %}