{% extends 'default.html' %}
{% load pro_tags %}
{% block title %}Каторга{% endblock %}
{% block content %}
    {% autoescape off %}{% header "Записи в категории «"|add:category.category|add:"»" %}{% endautoescape %}

    <section id="postcategory" class="posts">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <!-- Category Posts -->
                <div class="col-md-9">
                    {% for postcategory in postcategory_list %}
                        {% include "news/post_item.html" with post=postcategory.post %}
                    {% empty %}
                        <div class="post-entry-1">
                            <div class="post-meta"><span>Ничего нет</span></div>
                            </div>
                    {% endfor %}
                    </div><!-- End Category Posts -->
                <!-- Sidebar -->
                <div class="col-md-3">
                    <div class="aside-block">
                        <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-actions-tab" data-bs-toggle="pill" data-bs-target="#pills-actions" type="button" role="tab" aria-controls="pills-actions" aria-selected="true">
                                    Действия
                                    </button>
                                </li>
                            </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-actions" role="tabpanel" aria-labelledby="pills-actions-tab">
                                <div class="post-entry-1 border-bottom">
                                    <h2 class="mb-2"><a href="{% url 'subscribe' category.pk %}">Подписаться на обновления в категории «{{ category.category }}»</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Sidebar -->
            <!-- Paging -->
            {% if is_paginated %}
                {% include "paginator.html" with page_obj=page_obj paginator=paginator%}
            {% endif %}<!-- End Paging -->
            </div>
        </section>

{% endblock %}