{% load static %}

<!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src={% static "img/logo.png" %} alt="">
        <h1>News Portal</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'news_list' %}">Все новости</a></li>
          <li><a href="{% url 'news_filter' %}">Фильтр новостей</a></li>
          <li><a href="{% url 'articles_list' %}">Все статьи</a></li>
          <li class="dropdown"><a href="#"><span>Вы: {{ request.user }}</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'account_login' %}">LogIn</a></li>
              <li><a href="{% url 'account_logout' %}">LogOut</a></li>
              <li><a href="{% url 'account_signup' %}">SignUp</a></li>
              <li><a href="{% url 'become-an-author' %}">Стать автором</a></li>
            </ul>
          </li>

          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="https://www.linkedin.com/in/alexander-kurchin/" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="https://www.linkedin.com/in/alexander-kurchin/" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="https://www.linkedin.com/in/alexander-kurchin/" class="mx-2"><span class="bi-instagram"></span></a>
        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->
    </div>

  </header><!-- End Header -->